.ui.container {
  display: block;
  max-width: 100%!important;
}

.ui.container {
    width: auto!important;
    margin-left: 1em!important;
    margin-right: 14em!important;
}

.ui.form .field .ui.input, .ui.form .fields .field .ui.input, .ui.form .wide.field .ui.input {
  width: 40%;
}

.test {
  background-color: rgb(240, 240, 240);
}