.ui.button.toggle.active, .ui.buttons .button.toggle.active, .ui.toggle.buttons .active.button {
  background-color: #9521a0!important;
  box-shadow: none!important;
  text-shadow: none;
  color: #fff!important;
}

.ui.button.toggle.active:hover {
  background-color: #9521a0!important;
  text-shadow: none;
  color: #fff!important;
}

.search {
  color: #fff;
}
